@import "@/styles/base";

.welcome {
  background-color: rgba(250, 250, 250, 0.5);
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0rem 2rem;

  .text-wrapper {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 2rem;

    h2 {
      color: $comnica-purple;
      font-weight: 600;
    }

    p {
      font-weight: 600;
    }
  }

  .content {
    padding: 7rem 0;
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .content {
      padding: 0;
    }
    & {
      padding: 0 4rem;
      padding-top: $top-padding-large;
    }
  }
}
