$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;
$primary-green: #29a98b;
$secondary-green: #20876f;
$tertiary-green: #186553;
$comnica-purple: #682c5d;
$top-padding-base: 8rem;
$top-padding-large: 12rem;
