@import "@/styles/base";

.main-wrapper {
  flex-grow: 1;
  display: grid;
  height: 100%;

  @media screen and (min-width: $medium-screen) {
    & {
      grid-template-columns: 60% 40%;
    }
  }
  @media screen and (min-width: $large-screen) {
    & {
      grid-template-columns: 65% 35%;
    }
  }
}
