:root {
  --font-black: #31363c;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./assets/fonts/RobotoFlex.ttf") format("truetype");
}

.background {
  background-color: #77aa77;
  background-image: url("./assets/background/abstract-envelope.svg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: var(--font-black);
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}
